div(class="bg-white shadow rounded-lg div-stroke")
    img(class="object-cover h-72 w-full"  src=`/uploads/${propiedad.imagen}` alt=`imagen de la propiedad ${propiedad.titulo}`)
    div(class="p-5 space-y-5")
        h1(class="text-xl font-bold text-purple")= propiedad.titulo
        p(class="text-sm text-cyan") Habitaciones:  
                                span(class="text-purple font-bold")= propiedad.habitaciones
        p(class="text-sm text-cyan") WC:  
                                span(class="text-purple font-bold")= propiedad.wc
        p(class="text-sm text-cyan") Precio:  
                                span(class="text-purple font-bold")= propiedad.precio.nombre 
        a(href=`/propiedad/${propiedad.id}` class="bg-cyan w-full text-center block font-bold text-white p-2 uppercase rounded hover:bg-blue") Ver Propiedad          
